.stepper-book-wrap {
  height: 45rem;
  min-width: 300px;
  border-radius: 1rem;
  padding: 2rem;
  position: relative;
  perspective: 250rem;
  text-align: left;
  /* font-family: "Roboto", cursive; */
  /* opacity: 0;
  transform: rotate(-20deg);
  animation: show-up 2s forwards; */
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2c3e50;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transform-origin: 100% 100%;

  /* transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: rotateY(0); */
}

.cover.turn {
  /* transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1); */
  transform: rotateY(180deg);
}

.cover-left {
  z-index: -1;
}
.book {
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 250rem;
}

.stepper-book-page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 2rem;
  display: grid;
  background-color: #f3dfc1;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: rotateY(0);
  transform-origin: 0% 0%;
  overflow-y: auto;
}
.menu-dish__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  padding: 0 12px;
  font-size: 20px;
}
.menu-dish__list li ~ li {
  margin-top: 8px;
}
.introduce {
  font-size: 16px;
}

.on-mobile {
  display: block;
}

.on-desktop {
  display: none;
}
.on-mobile-grid {
  display: flex;
}

@media only screen and (min-width: 601px) {
  .book-wrap {
    height: 45rem;
    width: 66rem;
    border-radius: 1rem;
    padding: 2rem;
    position: relative;
    perspective: 250rem;
    font-family: "Caveat", cursive;
    /* opacity: 0;
    transform: rotate(-20deg);
    animation: show-up 2s forwards; */
  }
  .on-mobile {
    display: none;
  }
  .on-desktop {
    display: block;
  }
  .cover {
    width: 50%;
  }
  .book-page {
    width: 50%;
  }
  .introduce {
    font-size: 24px;
  }
  .menu-dish__list {
    padding: 0 40px;
    font-size: 24px;
  }
  .menu-dish__list li ~ li {
    margin-top: 20px;
  }
  .on-mobile-grid {
    display: none !important;
  }
}
