.slide-wrapper {
  position: relative;
  background-color: transparent;
  color: #fff;
  width: 100%;
  /* height: 100vh; */
}

.slide-container {
  color: #fff;
  position: relative;
  /* width: 1000px;
  height: 600px; */
  width: 100%;
  height: 300px;
  background-image: radial-gradient(#320643, #140534);
  /* mix-blend-mode: lighten; */
  overflow: hidden;
  z-index: 1;
}

.directional {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 3;
}
.directional #next {
  transform: translateX(34vw);
}
.directional #prev {
  transform: translateX(-34vw);
}
.directional button {
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: transparent;
  border: none;
  opacity: 0.2;
}
.directional button:hover {
  opacity: 1;
}

.auto-slide {
  padding-left: 10px;
  position: absolute;
  bottom: 1px;
  /* width: 100%; */
  right: 10px;
  bottom: 0;
  z-index: 3;
}

#slide {
  position: relative;
  width: 100%;
  height: 100%;
}
#slide .item {
  display: none;
  position: relative;
  width: 100%;
  min-height: 200px;
  height: 100%;
  z-index: 1;
}
.slide-item__title {
  text-align: center;
  padding-top: 6px;
  animation: contentIn 0.5s ease-in-out 1 forwards;
}
#slide .item.slide-active {
  display: block;
}
#slide .item .image {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 75%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
  animation: imageslide 0.5s forwards;
  /* transition: 1.5s; */
}
@keyframes imageslide {
  0% {
    opacity: 0;
    transform: scale(3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
#slide .item .image img {
  width: 65%;
  transition: 0.5s;
}
#slide .item .image::before {
  position: absolute;
  bottom: -30px;
  height: 60px;
  width: 60%;
  background-color: #000;
  content: "";
  z-index: -1;
  border-radius: 50%;
  filter: blur(30px);
}
#slide .item .image img:hover {
  transform: scale(1.1);
}
.content .left {
  position: absolute;
  left: 40px;
  top: 15%;
  display: none;
}
.content .left h1 {
  font-size: xxx-large;
  font-weight: 500;
  margin-bottom: 10px;
}
.content .left .des {
  font-size: small;
  font-weight: 100;
  opacity: 0.6;
  margin-bottom: 20px;
}
.content .left button {
  font-size: small;
  background-color: transparent;
  border: none;
  color: #fff;
}
.content .left button i:nth-child(1) {
  margin-left: 10px;
}
.content .right {
  position: absolute;
  right: 40px;
  top: 15%;
  animation: contentIn 1s ease-in-out 1 forwards;
  /* display: none; */
}
.content .right h2 {
  font-size: large;
  font-weight: 500;
  margin-bottom: 10px;
}
.content .right ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.content .right li {
  font-size: small;
  position: relative;
  margin-top: 20px;
}
.content .right li::before {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translate(0, -50%);
  width: 8px;
  height: 8px;
  background-color: #8c0781;
  content: "";
  border-radius: 50%;
  box-shadow: 0 0 10px #8c0781;
}
/* .content .right li p:nth-child(1) {
    font-weight: 500;
    padding: 0;
    margin: 0;
  }
  .content .right li p:nth-child(2) {
    font-weight: 100;
    padding: 0;
    margin: 0;
    font-size: x-small;
  } */
/* #slide .item:nth-child(1) .image {
    opacity: 0;
    transform: scale(0) translate(-100px);
  }
  #slide .item:nth-child(2) .image {
    opacity: 1;
    transform: scale(1);
  }
  #slide .item:nth-child(2) {
    z-index: 3;
  } */
@keyframes contentOut {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(0, -100%);
    filter: blur(113px);
  }
}
@keyframes contentIn {
  from {
    opacity: 0;
    transform: translate(0, 100%);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
